
   .header {
height: 69px;
    width: 100%;
    min-height: 69px;
    min-width: 1000px;
    border-bottom: 5px solid #343436;
    background: #00bcd4;
    box-shadow: 0 1px 1px #343436;
    position: relative;
    font: normal 20px 'Bitter', serif;
    display: flex

   }
